output/*
*.out
Genotype/*
env/
*snakefiles/utils/__pycache__*
tools/
*.txt
external/*
rna_output/*
hic_output/*
Genopipe/*
snakefiles/*.out
scripts/rasqual/*.out
scripts/rasqual/*.err
scripts/rasqual/logs/*
scripts/rasqual/logs_1kb/*
